h1{
    background-color: blue;
    color: aqua;
    text-align: center;
    border-radius: 300px;
    width: 500px;
    display: block;
    margin: auto;

}

h2{
    background-color: #dddddd;
    border-radius: 500px;
    text-align: center;
    display: block;
    width: 330px;
    margin: auto;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 250px;
    display: block;
    margin: auto;
}



p{
    text-align: center;
    padding: 15px;
    display: block;
    margin: auto;
    background-color: blue;
    width: 300px;
}

.grid {
    display: grid;
}

form{
    display: block;
    margin: auto;
    width: 330px;
    background-color:brown;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.all-inputs{
    margin-left: 20px;
    width: 280px;
    height: 28px;
}

input{
    margin-top: 0;
    margin-bottom: 0;

}
#button{
    margin-top: 18px;
    width: 288px;
    height: 40px;
}
#track{
    margin-left: 20px;
}

div{
   width: 600px;
   margin: auto;

}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 700px;
    font-size: medium;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  table, th, td {
    border:3px solid black;
  }